

div#sl_div div.col_l {
	overflow: hidden;
	width: 100%;
}
div#sl_div div.col_r {
	width: 100%;
}
/**
 *	Search Box
 */

	div#sl_div form#searchForm {
		background-color: #eae8e9;
		box-sizing: border-box;
		display: block;
		padding-bottom: 30px;
		padding-top: 30px;
		position: relative;
	}
	div#address_search {
		margin: 0 30px 30px;
	}
	div#address_search div#addy_in_address * {
		display: block;
	}
	div#address_search div#addy_in_address label[for="addressInput"] {
		color: #666;
		font: 400 14px/14px "GSMT", helvetica, arial, sans-serif;
		padding-bottom: .5em;
		text-transform: uppercase;
		/* font smoothing */
		/*text-shadow: 0px 0px .1px rgba(120,120,120,.5);*/
	}
	div#address_search div#addy_in_address input#addressInput {
		border: none;
		border-radius: 0;
		box-sizing: border-box;
		float: left;
		height: 34px;
		padding-left: 12px;
		width: 80%;
		width: calc(100% - 64px);
	}
	div#address_search div#radius_in_submit {
		background-color: #007799;
		border: none;
		border-radius: 0px 60px 60px 0px;
		box-shadow: none;
		color: transparent;
		display: block;
		float: left;
		height: 34px;
		padding: 0;
		position: relative;
		text-shadow: none;
		width: 50px;
	}
	div#address_search div#radius_in_submit:before {
		content: '';
		display: block;
		width: 0px;
		height: 0px;
		position: absolute;
		right: 0;
		margin-right: 17px;
		top: 10px;
		border-bottom: 8px solid transparent;
		border-left: 14px solid #fff;
		border-top: 8px solid transparent;
	}
	div#address_search div#radius_in_submit input#addressSubmit {
		background-color: transparent;
		box-shadow: none;
		border: none;
		color: transparent;
		height: 34px;
		position: relative;
		text-shadow: none;
		width: 50px;
		z-index: 9;
	}
	/* hide unused fields */
	#search_by_tag,
	#addy_in_radius {
		display: none;
	}

/**
 *	Results Block
 */

	ol#map_sidebar {
		background-color: #fff;
		box-sizing: border-box;
		margin: 0;
		padding: 20px 30px;

		list-style-type: none;
	    list-style-type: decimal !ie; /*IE 7- hack*/
	     
	    counter-reset: li-counter;
	}
	ol#map_sidebar:before {
		color: #666;
		content: 'Showrooms';
		display: block;
		font: 400 22px/24px "GSMT", helvetica, arial, sans-serif;
		margin-bottom: 12px;
		text-transform: uppercase;
		/* font smoothing */
		-webkit-font-smoothing: antialiased !important;
		/*text-shadow: 0px 0px .5px rgba(70,70,70,0.5);*/
	}

	li.results_wrapper {
		border-top: 1px solid #ccc;
		box-sizing: border-box;
		clear: both;
		cursor: pointer;
		margin-bottom: 0px;
		padding: 20px 20px 20px 84px;
		position: relative;
	}
	li.results_wrapper:first-child {
		border-color: #fff;
	}
	li.results_wrapper:before {
		background: url('../images/map-marker-black.png') no-repeat 0 0;
		background: url('../images/map-marker-black.svg') no-repeat 0 0;
		color: #fff;
		display: block;
		font: 400 18px/38px "GSMT", helvetica, arial, sans-serif;
	    height: 48px;
	    left: 20px;
		line-height: 38px;
		position: absolute;
	    text-align: center;
	    width: 36px;
	     
	    content: counter(li-counter);
	    counter-increment: li-counter;
	}
	div.results_entry > span {
		display: block;
		line-height: 17.16px;
		position: relative;
	}
	div.results_entry span.location_name {
		font-weight: bold;
	}
	div.results_entry span.slp_result_phone a {
		color: #404040;
		cursor: text;
		text-decoration: none;
	}
	div.results_entry span.location_distance {
		margin-top: 20px;
	}
	div.results_entry span.location_distance span:first-child {
		font-weight: bold;
	}
	div.results_entry span.slp_result_contact.slp_result_directions a {
		color: #007799;
		text-decoration: none;
	}
	div.clearfix {
		clear: both;
		display: block;
		width: 100%;
	}

	div.results_entry div.hidden {
		display: none;
	}
	div.results_entry:hover div.hidden {
		display: block;
	}

	div.results_entry div.dealer-image img {
		height: 0;

		-webkit-transition: height 1s;
		transition: height 1s;
	}
	div.results_entry:hover div.dealer-image img {
		height: auto;
	}


	/* hide these parts in results ... */
	div.results_entry span.slp_result_contact.slp_result_website { display: none; } /* website link */
	div.results_entry span.slp_result_contact.slp_result_email { display: none; } /* email link */
	div.results_entry span.slp_result_contact.slp_result_hours { display: none; } /* location hours */
	div.results_entry span.slp_result_address.slp_result_fax { display: none; } /* fax number */

	li.lowes_restriction {
		padding: 10px 0 0 84px;
		font-size: 12px;
	}

/**
 *	Map Block
 */

	#slp_bubble_website, #slp_bubble_fax { display: none; }
	#sl_info_bubble {
		min-height:100px;
		min-width:200px;
	}

/**
 *	Logos Block
 */
	div#slp_logo_section {
		background-color: #eae9e9;
		box-sizing: border-box;
		display: block;
		padding: 50px 40px;
		position: relative;
	}
	div#slp_logo_section h2 {
		color: #222224;
		font: 400 22px/24px "GSMT", helvetica, arial, sans-serif;
		margin-bottom: 20px;
		text-transform: uppercase;
		/* font smoothing */
		-webkit-font-smoothing: antialiased !important;
		/*text-shadow: 0px 0px .5px rgba(0,0,0,0.5);*/
	}
	div#slp_logo_section span.baths-retailer,
	div#slp_logo_section a.baths-retailer {
		background-image: url(../images/retailers-sprite.jpg);
		background-repeat: no-repeat;
		display: inline-block;
		height: 54px;
		margin: 0 30px 10px 0;
		position: relative;
		width: 160px;
	}
	.baths-retailer.build_com { background-position: 17px 7px; }
	.baths-retailer.atg_stores { background-position: -199px -3px; }
	.baths-retailer.sdc { background-position: -397px 0px; }
	.baths-retailer.efaucets { background-position: 11px -65px; }
	.baths-retailer.home_stone { background-position: -197px -65px; }
	.baths-retailer.tubz_com { background-position: -378px -66px; }
	.baths-retailer.faucet_com { background-position: 13px -134px; }
	.baths-retailer.lowes { background-position: -197px -133px; }
	.baths-retailer.tubz_more { background-position: -388px -137px; }
	.baths-retailer.faucetdirect_com { background-position: 12px -203px; }
	.baths-retailer.quality_bath { background-position: -195px -203px; }
	.baths-retailer.wayfair { background-position: -392px -199px; }




/**
 *	media queries
 */

@media screen and (min-width: 641px) {
	li.results_wrapper:hover {
		background-color: #eae8e9;
		background-color: rgba(234, 232, 233, 0.5);
		/*box-shadow: 2px 2px 8px rgba( 0, 0, 0, .35);*/
		border-color: #fff;
		box-sizing: border-box;
	}
	li.results_wrapper:hover + li {
		border-color: #fff;
	}
}
@media screen and (min-width: 920px) {
	div#sl_div div.col_l {
		float: left;
		max-height: 600px;
		width: 40%;
	}
	div#sl_div div.col_r {
		float: right;
		width: 60%;
	}
	ol#map_sidebar {
		max-height: 489px;
		overflow: auto;
	}
}
@media screen and (max-width: 919px) {
	div#slp_logo_section {
		padding: 30px 20px;
	}
	div#slp_logo_section span.baths-retailer {
		margin: 0 10px 10px;
	}
}
@media screen and (max-width: 640px) {
	#sl_div .col_r {
		display: none;
	}
	li.results_wrapper {
		cursor: auto;
	}
	div.results_entry span.slp_result_phone a {
		color: #079;
		cursor: pointer;
	}
}